#addressbar {
    width: 100%;
}

.combo {
    overflow-x: visible;
}

.combo *
{
    transition: all .3s;
}


.combo input:disabled
{
    width: 0;
    opacity: 0;
}
.combo input:enabled + select
{
    width: .5em;
}

#method input:enabled ,
#method input:disabled + select
{
    width: 6em;
}

#ctype input:enabled ,
#ctype input:disabled + select
{
    width: 12em;
}

#payload {
    transition: all .5s;
    width: 100%;
    height: 20em;
}

#payload:disabled {
    height: 0;
    opacity: 0;
}

#response {
    min-width: fit-content;
    min-width: -moz-fit-content;
    min-width: -webkit-fit-content;
}

#response iframe {
  border: none;
}

#loading, #error {
  display: none;
}

.loading #loading, .error #error {
  display: block
}
